<!DOCTYPE html>
<html lang="en">
<head>
  <title>SM64Hacks Database - About</title>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="container-fluid">
    <div class="card bg-secondary text-white">
        <div class="card-header">SM64Hacks Database - About</div>
        <div class="card-body">
            <p>The SM64Hacks Database is made possible by members of the Super Mario 64 Hacking Community and is a project of <a href="https://sm64hacks.com/">sm64hacks.com</a>.</p>

            <hr />
            <h4>API Usage Policies</h4>
            <p>By using our API (any HTTP(s) request to this website) you agree to the following policies:</p>
            <ul>
                <li>You will keep your request rate below 50 requests per second, some automation and scraping is fine, we encourage it really we are all for a better internet and an archived internet, however to protect our API from abuse we request you keep your request rate at the aforementioned rate. Accidentally hitting or going above the rate limit is okay however we reserve the right to implement API keys and/or implement server side rate limits to specific endpoints.</li>
            </ul>

            <hr />

            <h4>Legal/Copyright Requests</h4>
            <p>If you need to contact us for legal and/or copyright reasons please email me@lunorian.is and we'll get back to you as soon as possible. Please note that we do not have the ability to remove files from IPFS, similar to Bittorrent once a file is added and picked up by the network its there forever, we can however remove text and/or images that infringe upon your copyright for you. <br><br> <strong> A DMCA takedown request is sworn under penalty of perjury, sending a false DMCA takedown request puts you at risk of having to pay civil damages and severe criminal sanctions.</strong></p>

        </div>
    </div>
  </div>

</body>
</html>
