<!DOCTYPE html>
<html lang="en">
<head>
  <title>SM64Hacks Database - Admin</title>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="container-fluid">
    <div class="card bg-secondary text-white">
        <div class="card-header">SM64Hacks Database - Admin</div>
        <div class="card-body">
          <p>Welcome to the admin area, here you can perform various administrative tasks for the hacks database.</p>
          <hr>
            <h3>Tasks</h3>
            <ul>
              <li><a href="/add">Add Hack</a></li>
            </ul>
            <hr />
            Need a task that isn't displayed here? Please email <a href="mailto:me@lunorian.is">me@lunorian.is</a> and I'll get something added as soon as possible!
        </div>
    </div>
  </div>

</body>
</html>
