<!DOCTYPE html>
<html lang="en">
<head>
  <title>SM64Hacks Database</title>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="container-fluid">
      <div class="card bg-secondary text-white">
          <div class="card-header">SM64Hacks Database</div>
          <div class="card-body">
            <p>
              Welcome to the SM64Hacks Database. This is a user-searchable database of Super Mario 64 ROM Hacks.
            </p>
          </div>
      </div>
  </div>

</body>
</html>
