<!DOCTYPE html>
<html lang="en">
<head>
  <title>SM64Hacks Database - Login</title>
  <% include ../partials/header.ejs %>
</head>
<body>

  <% include ../partials/nav.ejs %>

  <div class="container-fluid">
    <div class="card bg-secondary text-white">
        <div class="card-header">SM64Hacks Database - Login</div>
        <div class="card-body">
            <form action="/api/auth" method="post">
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" name="password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Login</button>
                </div>
            </form>
        </div>
    </div>
  </div>

</body>
</html>
